# General
*.swp
*.swo
*.rbo
*.gem
.DS_Store
.rbenv-version
.rbx/
xcuserdata
project.xcworkspace
DerivedData
/concatenated.*

# Yardoc
.yardoc
/doc

# CocoaPods
/Podfile.lock
/Pods

*.xccheckout
.watsonrc
